*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #c9bce6;
    font-family: PT mono;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items: center;
}
#navbar-item1 h2{
    padding:5px;
    font-size: 2rem;
    line-height: 28px;
    font-weight: 300;
}
#navbar-item2{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
#navbar-item2 a{
    padding:6px;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color:#3d2278;
}

#diff {
    
    border: 1px solid rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 2rem;
    
}
#intro{
    padding:38px 38px 0px;
}
#intro h1{
    font-size: 6rem;
    font-weight: 300;
    padding-bottom: 20px;
}
#line{
    border: 1px solid black
}

.containers{
    height: 45vh;
    display: flex;
    justify-content: space-between;
    padding: 26px 75px;
   
}
#cont-1 {
    padding: 19px;
    width:50%;
}

#cont-1 h2{
    font-size: 2rem;
    font-weight: 300;
}
#cont-1 p{
    padding: 19px;
    font-size: 1rem;
    padding: 40px 3px;
}

#cont-2{
    padding: 4px;
    width: 45%;
    
    background-image: url(resources/image1.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    border: 2px solid rgb(180, 205, 92);
    border-radius: 2rem;
    
}

